# npm package lock file
package-lock.json

# Dependency directory
node_modules

# Migrations folder
src/migrations

# Seeders
src/seeders

# Models
src/models

# Coverage folder by instanbul
coverage

# nyc test output folder
.nyc_output 